part_3/validate.dtd

<?xml version="1.0" encoding="utf-8" ?>

<!ELEMENT stats (visits, ips)>
<!ELEMENT visits (station, mobile)>
<!ELEMENT station (platform*)>
<!ELEMENT mobile (platform*)>

<!ELEMENT platform (#PCDATA)>
<!ELEMENT ip (#PCDATA)>

<!ATTLIST platform
name CDATA #REQUIRED>

<!ELEMENT ips (ip+)>
<!ELEMENT ip EMPTY>

<!ATTLIST ip
addr CDATA #REQUIRED>

<!ATTLIST ip
frequency CDATA #REQUIRED>